* {
  -fx-font-family: "Helvetica", Arial, sans-serif;
}

.menuItem:hover {
  -fx-border-color: #533b7c;
  -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover {
  -fx-background-color: #146886;
  -fx-border-color: WHITE;
  -fx-border-width: 0px 0px 0px 3px;
}

/* Category Buttons */
.categoryButton {
  -fx-background-radius: 10;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 2, 2);
  -fx-background-color: linear-gradient(to bottom, #533b7c, #533b9c);
}
.categoryButton:hover {
  -fx-background-color: #6a51a3;
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}

/* Join Button */
.joinButton {
  -fx-background-color: #727293;
  -fx-background-radius: 10;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 2, 2);
}

.joinButton:hover {
  -fx-background-color: #727293;
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}

/* TextField */
.nbQstInput {
  -fx-background-color: #f5f5f5;
  -fx-background-radius: 8;
  -fx-border-color: #bbb;
  -fx-border-width: 1;
  -fx-padding: 5 10 5 10;
  -fx-font-size: 14px;
  -fx-text-fill: #333;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 2, 0, 1, 1);
}

.nbQstInput:focused {
  -fx-background-color: #ffffff;
  -fx-border-color: #533b7c;
  -fx-text-fill: #000000;
}

.nbQstInput .promptText {
  -fx-text-fill: #999;
  -fx-font-size: 12px;
}

/* ComboBox Styling */
.levelSelect {
  -fx-background-color: #f5f5f5;
  -fx-background-radius: 8;
  -fx-border-color: #bbb;
  -fx-border-width: 1;
  -fx-font-size: 14px;
  -fx-text-fill: #333;
  -fx-padding: 5 10 5 10;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 2, 0, 1, 1);
}

.levelSelect:focused {
  -fx-background-color: #ffffff;
  -fx-border-color: #533b7c;
}

.levelSelect .combo-box-popup {
  -fx-background-color: #ffffff;
  -fx-border-color: #bbb;
  -fx-border-radius: 5;
  -fx-padding: 5;
}

.levelSelect .list-cell {
  -fx-text-overrun: ellipsis; /* Si le texte est long, affiche "..." */
}

.levelSelect .combo-box-display {
  -fx-text-overrun: clip; /* Affiche tout le texte dans le champ principal */
}

.dashboard-background {
  -fx-background-image: url("../../assets/images/game-user.jpg");
  -fx-background-size: cover; /* Ajuste l'image pour couvrir toute la zone */
  -fx-background-position: center center; /* Centrer l'image */
  -fx-background-repeat: no-repeat; /* Ne pas répéter l'image */
}

.welcom1 {
  -fx-max-width: 80; /* Taille de la police */
  -fx-font-family: "Berlin Sans FB Demi";
  -fx-font-weight: bold; /* Définit le texte en gras */
  -fx-text-fill: white; /* Couleur du texte */
}

.bgImg {
  -fx-background-image: url("images/purple_watercolour_background_corners.jpg");
  -fx-background-size: cover;
  -fx-background-position: center;
}

.bg-primary {
  -fx-background-color: #533b7c;
}

.bg-secondary {
  -fx-background-color: #6c747e;
}

.bg-secondary-light {
  -fx-background-color: #ececec;
}

.text-light {
  -fx-text-fill: #f3f2f2;
}
.text-dark {
  -fx-text-fill: #1f1f20;
}
.text-primary {
  -fx-text-fill: #533b7c;
}
.side-nav {
  -fx-background-color: #362751;
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-cursor: hand;
}
.side-nav:hover {
  -fx-background-color: #584c6f;
}

.side-nav-logout {
  -fx-background-color: #ec5555;
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-cursor: hand;
}
.side-nav-logout:hover {
  -fx-background-color: #b74444;
}

.dash-header {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: rgb(230, 228, 228);
}

.stat-card {
  -fx-background-radius: 10px;
}
.stat-card-text {
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

.stat-card-1 {
  -fx-background-color: linear-gradient(to right, #ff5e62, #ff9966);
}

.stat-card-2 {
  -fx-background-color: linear-gradient(to right, #06beb6, #48b1bf);
}

.stat-card-3 {
  -fx-background-color: linear-gradient(to right, #6190e8, #a7bfe8);
}
.stat-card-4 {
  -fx-background-color: linear-gradient(to right, #3a6186, #89253e);
}
.search-input {
  -fx-font-size: 16px;
  -fx-text-fill: #1f1f20;
}
.table-btn {
  -fx-text-fill: white;
  -fx-font-size: 16px;
}
.search-btn {
  -fx-background-color: linear-gradient(to right, #2c3e50, #4ca1af);
}
.export-btn {
  -fx-background-color: linear-gradient(to right, #76b852, #8dc26f);
}
.add-btn {
  -fx-background-color: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.pagination {
  -fx-background-color: #f0f0f0;
}

/* Style the page indicators (buttons) */
.number-button,
.arrow-button {
  -fx-background-color: #c5c5c5;
  -fx-text-fill: rgb(70, 67, 67);
  -fx-background-radius: 5px;
  -fx-min-height: 25px;
  -fx-pref-width: 30px;
}

.number-button:hover,
.left-arrow:hover,
.right-arrow:hover {
  -fx-background-color: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.number-button:selected {
  -fx-background-color: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.table-col {
  -fx-font-size: 14px;
  /* -fx-background-color: linear-gradient(to right, #efefbb, #d4d3dd);
  -fx-text-fill: #1f1f20; */
}

.update-btn {
  -fx-background-color: linear-gradient(to right, #00d2ff, #3a7bd5);
  -fx-text-fill: white;
  -fx-font-size: 12px;
}
.delete-btn {
  -fx-background-color: linear-gradient(to right, #ec5555, #ff9966);
  -fx-text-fill: white;
  -fx-font-size: 12px;
}

.save-btn {
  -fx-background-color: linear-gradient(to right, #5f2c82, #49a09d);
  -fx-text-fill: white;
}
.cancel-btn {
  -fx-background-color: linear-gradient(to right, #ec6f66, #f3a183);
  -fx-text-fill: white;
}

.select-box {
  -fx-background-color: linear-gradient(to right, #e8e8a6, #bdbbd3);
}

.danger-zone {
  -fx-padding: 20;
  -fx-border-color: #dc3545;
  -fx-border-width: 1;
  -fx-border-radius: 4;
}

.danger-header {
  -fx-text-fill: #dc3545;
  -fx-font-size: 18;
  -fx-font-weight: bold;
}

.danger-text {
  -fx-font-weight: bold;
}

.warning-text {
  -fx-text-fill: #6c757d;
}

.danger-button {
  -fx-background-color: #dc3545;
  -fx-text-fill: white;
}

.danger-button:hover {
  -fx-background-color: #bb2d3b;
}
