

.menuItem:hover {
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover {
    -fx-background-color: #146886;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 3px;
}

.bgImg{
    -fx-background-image: url('images/purple_watercolour_background_corners.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}
