.levelNumber {
  -fx-background-color: #5d3282;
  -fx-border-color: #FDE32F;
  -fx-border-width: 1px;
  -fx-border-radius: 50px;
  -fx-padding: 6px;
  -fx-text-fill: white;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}
